body {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Georgia', 'helvetica';
    font-size: 30px;
    background-color:rgb(255, 254, 254);
    color: rgb(198, 9, 9);
  }
  
  .top {
    min-height: 10vh;
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Georgia', 'helvetica';
    font-size: 40px;
  }

  .main {
    flex-direction: row;
    display: flex;
    height: 100%;
}

  .map {
    flex-grow: 1;
    width: 100%
  }

  .legend {
    width: 200px;
    font-size: 12px;
    color: #f5eded;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 5px;
    background-color: rgba(146, 6, 6, 0.799);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid rgb(133, 3, 3);
}

  .content {
    flex-direction: column;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Georgia', 'helvetica';
    font-size: 15px;
    background-color: rgb(255, 254, 254);
    color: rgb(14, 12, 12);
}

.story {
    width: 100%;
    padding: 1rem;
}

.slide-title{
  max-height: 3rem;
}
  
.slide-controls {
    display: block;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    column-gap: -0.5rem;
    position: absolute;
        bottom:0px;
}
  
.slide-section {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-shadow: -0.5rem 0 1rem  rgba(111, 30, 30, 0.699);
    padding: 1rem;
    width: 20rem;
  }
  
  .slide-nav-button:hover {
    background-color: rgb(211, 45, 45);
    color: #fff;
  }
  
  .slide-nav-select {
    min-width: 0;
  }